{% load static %}

<html>
  <head>
    <title>待ち合わせアプリ</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-header">

      <!--      
		{% if user.is_authenticated %}
		<a href="{% url 'post_list' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
		-->
      
      <h1><a href="/">待ち合わせアプリ</a></h1>
    </div>
    <div class="conditional branch">
      <h4>
	<button type="submit" class="ok"><a href="{% url 'exit' %}">待ち合わせ</a></button><br><br>
	<button type="submit" class="ok"><a href="{% url 'transfer' %}">乗り換え</a></button><br><br>
    </div>
  </body>
</html>



